@font-face {
	font-family: SanFranciscoText;
	src: url("../fonts/SanFranciscoText-Regular.otf");
}

@font-face {
	font-family: SourceCodePro;
	src: url("../fonts/SourceCodePro-Light.otf");
}

#toursys{
	font-family: SanFranciscoText;
}

#toursys .ui-widget{
	font-family: SanFranciscoText !important;
}
#toursys input:disabled{
	background-color:#ffffff;
}


#toursys input {
	
	width:100%;
	min-width:100px;
	font-size: 16px !important;
	border: 1px solid #cfcfcf;
	border-radius: 2px !important;
	padding-top: 2px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-bottom: 2px !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
		vertical-align:middle;
    max-height: 54px;
	
}
#toursys select {
	width:100%;
	min-width:100px;
    max-width: 100%;
	font-size: 16px !important;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	padding-top: 2px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-bottom: 2px !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-image: linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position: calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
		vertical-align:middle;
}

#toursys select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
#toursys label{
	display:inline-block;
	color:#666666;
	vertical-align:middle;
    line-height: 40px;
}
#toursys form{
	width:770px;
	border-radius:5px; padding:20px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	margin:0px;
	padding-bottom:20px;
}

#toursys .col {
	padding-top: 12px;
    vertical-align:middle;
}
#toursys .toursys-form{
	background-color:#ffffff;
	padding:30px;
	border:1px solid #fafafa;
	border-radius:5px;
}
#toursys .toursys-form .wrap h4{
	
	font-size:24px;
	color:#9f9f9f;
	padding-top:5px;
	padding-bottom:5px;
	margin:0px;
}
#toursys .toursys-button{
	
	border-radius:3px;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	border:1px !important;
}
#toursys span.get-value {
    display: block;
	color:#aaaaaa;
    padding: 6px;
    background: #ffffff;
    font-size: 16px !important;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
}
#toursys .text-orange {
    color: #ff5400;
}
#toursys .mb10 {
    margin-bottom: 10px;
}
.ts-code{
	display:block; 
	font-family: SourceCodePro;
	width:350px; 
	background-color:#f0f0f0; 
	padding:10px; 
	line-height:1.6;
}
#toursys .ts-code .ts-code-line{
	display:block; 
	text-indent:20px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
	a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	border: 1px solid rgb(0, 167, 157) !important;
	background: rgb(0, 167, 157) !important;
}
.ui-tabs{
	border:0px !important;
	margin:0px;
	padding:0px;
	border: 1px solid rgb(0, 167, 157) !important; 
}
.ui-tabs .ui-tabs-nav{
	background-color: #fff !important;
	border-bottom: 1px solid rgb(0, 167, 157) !important; 
}

/* admin */
.toursys-admin-how-to{
	display:block; 

	max-width:1280px;

}
.toursys-admin-how-to p {
	word-wrap: normal;
}
.toursys-bg-color{
	background-color:#00a79d !important;
}
.required{
	color:#ff0000;
}